<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
    <style>
        main {
            display: flex;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <main>
        <section>
            <a href="/crud/new">Create new product</a>
            <table>
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Name</th>
                        <th>Desccription</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < products.length; i++){ %>
                        <tr><td><%= products[i].brand %></td>
                        <td><%= products[i].name %></td>
                        <td><%= products[i].desc %></td>
                        <td><%= products[i].price %></td>
                        <td><%= products[i].stock %></td>
                        <td><a href="<%= products[i].slug %>">Edit</a>
                        <a href="<%= products[i].slug %>">Delete</a></td></tr>
                    <% } %>
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>